<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import type LoadingDialogVue from "./components/LoadingDialog.vue";
import type MessageDialogVue from "./components/MessageDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialogVue></LoadingDialogVue>
  <MessageDialogVue></MessageDialogVue>
</template>

<style scoped></style>
